@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&family=Goldman:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: black;
}
.goldman-regular {
  font-family: "Goldman", sans-serif;
  font-weight: 400;
}

.goldman-bold {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
}

.neon-text {
  font-family: "Goldman", sans-serif;
  font-size: 10rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  background: linear-gradient(90deg, #00FFDD 24%, #00EAFF 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    5px 5px 5px #00f6ff
}

.alexandria {
  font-family: "Alexandria", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
